@font-face {
  font-family: "TangGuo";
  src: url("../font/Hanyi Senty Candy-color.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PingFang; }

.clear-fix::after {
  content: "";
  display: block;
  clear: both; }

header {
  display: flex;
  align-items: center;
  background: white;
  height: 80px;
  padding: 0 10px; }
  header div {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative; }
  header h1 {
    display: none; }
  header img {
    display: block;
    height: 35px;
    float: left; }
  header #download-link:link,
  header #download-link:hover,
  header #download-link:visited,
  header #download-link:active {
    display: block;
    float: left;
    position: absolute;
    right: 0;
    border: 1px #CACACA solid;
    border-radius: 25px;
    font-size: 14px;
    line-height: 25px;
    padding: 0 10px;
    white-space: nowrap;
    text-decoration: none;
    color: black; }

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: white; }

nav > ul {
  display: flex;
  align-items: center;
  list-style: none; }
  nav > ul li {
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    background: #FBFBFB;
    color: #8C8C8C;
    display: inline-block;
    position: relative;
    width: 33.3%; }
    nav > ul li ::after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0; }
    nav > ul li.active {
      color: #68C288; }
      nav > ul li.active ::after {
        border-bottom: 2px solid #68C288; }

.top {
  grid-area: topic;
  align-items: center; }
  .top span {
    line-height: 50px;
    font-size: 16px;
    font-weight: 400; }

.left {
  grid-area: display-left; }

.right {
  grid-area: display-right; }

.left img,
.right img {
  max-width: 100%;
  vertical-align: middle; }

.display-container {
  display: grid;
  grid-template-columns: [left-start] auto [left-end] 10px [right-start] auto [right-end];
  grid-template-rows: auto;
  grid-template-areas: "topic topic topic" "display-left blank display-right";
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px; }

.item {
  position: relative; }

.icon {
  display: block;
  width: 24px;
  height: 24px;
  right: 2%;
  top: 69%;
  position: absolute;
  background-image: url("../images/list_sprite.png");
  background-repeat: no-repeat;
  background-size: 24px 60px; }

.desc {
  padding-bottom: 1rem;
  padding-left: 0.4rem;
  background: white; }
  .desc span {
    line-height: 18px;
    font-size: 14px; }

.wow {
  padding: 1% 20% 5%; }
  .wow span,
  .wow p {
    font-family: Tangguo; }
  .wow .chat {
    text-align: center; }
    .wow .chat span {
      line-height: 40px;
      font-size: 30px; }
  .wow .bullshit img {
    float: left;
    max-width: 50%;
    vertical-align: middle; }
  .wow .bullshit p {
    float: left;
    font-size: 30px;
    margin-left: 35px;
    margin-top: 25px; }
  .wow .junkinfo {
    text-align: center;
    margin-top: 5px; }
    .wow .junkinfo p {
      letter-spacing: 2px;
      line-height: 20px;
      font-size: 15px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3); }
  footer div {
    background-color: #68C288;
    text-align: center;
    margin: 10px 80px;
    border-radius: 50px; }
    footer div span {
      color: white;
      font-size: 14px;
      line-height: 33px; }

.recommand {
  background: #f2f2f2; }
