@font-face {
  font-family: "TangGuo";
  src: url("../font/Hanyi Senty Candy-color.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PingFang; }

.clear-fix::after {
  content: "";
  display: block;
  clear: both; }

header {
  display: flex;
  align-items: center;
  background: white;
  height: 80px;
  padding: 0 10px; }
  header div {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative; }
  header h1 {
    display: none; }
  header img {
    display: block;
    height: 35px;
    float: left; }
  header #download-link:link,
  header #download-link:hover,
  header #download-link:visited,
  header #download-link:active {
    display: block;
    float: left;
    position: absolute;
    right: 0;
    border: 1px #CACACA solid;
    border-radius: 25px;
    font-size: 14px;
    line-height: 25px;
    padding: 0 10px;
    white-space: nowrap;
    text-decoration: none;
    color: black; }

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: white; }

nav > ul {
  display: flex;
  align-items: center;
  list-style: none; }
  nav > ul li {
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    background: #FBFBFB;
    color: #8C8C8C;
    display: inline-block;
    position: relative;
    width: 33.3%; }
    nav > ul li ::after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0; }
    nav > ul li.active {
      color: #68C288; }
      nav > ul li.active ::after {
        border-bottom: 2px solid #68C288; }

.top {
  grid-area: topic;
  align-items: center; }
  .top span {
    line-height: 50px;
    font-size: 16px;
    font-weight: 400; }

.left {
  grid-area: display-left; }

.right {
  grid-area: display-right; }

.desc-l {
  grid-area: desc-left; }

.desc-r {
  grid-area: desc-right; }

.left .item,
.right .item {
  position: relative;
  overflow: hidden; }
  .left .item img,
  .right .item img {
    width: 100%;
    vertical-align: bottom; }
  .left .item .icon,
  .right .item .icon {
    display: block;
    width: 24px;
    height: 24px;
    right: 5px;
    bottom: 10px;
    position: absolute;
    background-image: url("../images/list_sprite.png");
    background-repeat: no-repeat;
    background-size: 24px 60px; }

.desc-l,
.desc-r {
  padding-bottom: 1rem;
  padding-left: 0.4rem;
  background: white; }
  .desc-l span,
  .desc-r span {
    line-height: 18px;
    font-size: 14px; }

.display-container {
  display: grid;
  grid-template-columns: [left-start] 49.4% [left-end] auto [right-start] 49.4% [right-end];
  grid-template-rows: auto;
  grid-template-areas: "topic topic topic" "display-left blank display-right" "desc-left blank desc-right";
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px; }

.wow {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "chat chat" "bullshit-left bullshit-right" "junkinfo junkinfo";
  padding: 2% 20% 10%; }
  .wow span,
  .wow p {
    font-family: Tangguo; }
  .wow .chat {
    grid-area: chat;
    text-align: center; }
    .wow .chat span {
      line-height: 40px;
      font-size: 30px; }
  .wow .bullshit-left {
    grid-area: bullshit-left; }
    .wow .bullshit-left img {
      max-width: 100%; }
  .wow .bullshit-right {
    grid-area: bullshit-right;
    place-self: center; }
    .wow .bullshit-right p {
      font-size: 25px; }
  .wow .junkinfo {
    grid-area: junkinfo;
    text-align: center;
    margin-top: 5px; }
    .wow .junkinfo p {
      letter-spacing: 2px;
      line-height: 25px;
      font-size: 20px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); }
  footer div {
    background-color: #68C288;
    text-align: center;
    margin: 10px auto;
    border-radius: 50px;
    width: 60%; }
    footer div span {
      color: white;
      font-size: 14px;
      line-height: 33px;
      white-space: nowrap; }

.recommand {
  height: 100%; }

body {
  background: #f2f2f2; }
