.top {
    grid-area: topic;
    align-items: center;

    span {
        line-height: 50px;
        font-size: 16px;
        font-weight: 400;
    }
}

.left {
    grid-area: display-left;
}

.right {
    grid-area: display-right;
}

.desc-l {
    grid-area: desc-left;
}

.desc-r {
    grid-area: desc-right;
}

.left,
.right {
    .item {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            vertical-align: bottom;
        }

        .icon {
            display: block;
            width: 24px;
            height: 24px;
            right: 5px;
            bottom: 10px;
            position: absolute;

            background-image: url("../images/list_sprite.png");
            background-repeat: no-repeat;
            background-size: 24px 60px;
        }
    }
}

.desc-l,
.desc-r {
    padding-bottom: 1rem;
    padding-left: 0.4rem;
    background: white;

    span {
        line-height: 18px;
        font-size: 14px;
    }
}

.display-container {
    display: grid;
    grid-template-columns: [left-start] 49.4% [left-end] auto [right-start] 49.4% [right-end];
    grid-template-rows: auto;
    grid-template-areas:
        "topic topic topic"
        "display-left blank display-right"
        "desc-left blank desc-right";
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
}