$header-background: white;
$header-height: 80px;

$logo-height: 35px;

$download-link-border-radius: 25px;
$download-link-border: 1px #CACACA solid;
$download-link-line-height: 25px;
$download-link-font-size: 14px;
$download-link-padding: 0 10px;
$download-link-margin: 0 2em 0 0;

$nav-tab-width: 33.3%