.wow {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "chat chat"
        "bullshit-left bullshit-right"
        "junkinfo junkinfo";

    padding: 2% 20% 10%;

    span,
    p {
        font-family: Tangguo;
    }

    .chat {
        grid-area: chat;
        text-align: center;

        span {
            line-height: 40px;
            font-size: 30px;
        }
    }

    .bullshit-left {
        grid-area: bullshit-left;

        img {
            max-width: 100%;
        }
    }

    .bullshit-right {
        grid-area: bullshit-right;
        place-self: center;

        p {
            font-size: 25px;
        }
    }

    .junkinfo {
        grid-area: junkinfo;
        text-align: center;
        margin-top: 5px;

        p {
            letter-spacing: 2px;
            line-height: 25px;
            font-size: 20px;
        }
    }
}