.wow {
    padding: 5% 20% 5%;

    span,
    p {
        font-family: Tangguo;
    }

    .chat {
        text-align: center;

        span {
            line-height: 50px;
            font-size: 30px;
        }
    }

    .bullshit {

        img {
            float: left;
            max-width: 50%;
            vertical-align: middle;
        }

        p {
            float: left;
            font-size: 30px;
            margin-left: 35px;
            margin-top: 25px;
        }
    }

    .junkinfo {
        text-align: center;

        p {
            letter-spacing: 2px;
            line-height: 18px;
            font-size: 15px;
        }
    }
}