@font-face {
    font-family: "TangGuo";
    src: url("../font/Hanyi\ Senty\ Candy-color.ttf")
}

@import "var";
@import "reset";
@import "header";
@import "slide";
@import "nav";
@import "display";
@import "wow";
@import "footer";
@import "top"; 

.recommand {
    height: 100%;
}

body {
    background: rgb(242, 242, 242);
}